* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 33vw;

}

main {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

   
}
h1 {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.box-one,
.box-four,
.box-seven {
    border-right: 2px solid red;
}

.box-one,
.box-two,
.box-three {
    border-bottom: 2px solid red;
}

.box-three,
.box-six,
.box-nine {
    border-left: 2px solid red;
}

.box-seven,
.box-eight,
.box-nine {
    border-top: 2px solid red;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    width: 50vw;
    /* border: 2px solid red; */
    cursor: pointer;
}

.orangutan, 
.otter,
h2 {
    font-size: 50px;
}