* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Atma';
    /* border: 1px solid red; */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 33vw;

}

.otter-background {
    background-image: url('https://www.worldatlas.com/r/w1200/upload/91/28/75/shutterstock-1046554378.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.orangutan-background {
    background-image: url('https://www.travelandleisure.com/thmb/R2kb6GuJwF4wVJhRVevV-FqOVao=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/el-yunque-national-rainforest-tropical-puerto-rico-TROPICALPLANTS0617-d3ccb18a16064e42bdd626cdf7a8cb68.jpg');
    background-size: cover;
    background-attachment: fixed;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( rgba(34, 11, 240, 0), rgb(20, 44, 167));

   
}
h1 {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:rgb(74, 86, 210)
}

.box-one,
.box-four,
.box-seven {
    border-right: 4px solid rgb(239, 247, 4);
}

.box-one,
.box-two,
.box-three {
    border-bottom: 4px solid rgb(239, 247, 4);
}

.box-three,
.box-six,
.box-nine {
    border-left: 4px solid rgb(239, 247, 4);
}

.box-seven,
.box-eight,
.box-nine {
    border-top: 4px solid rgb(239, 247, 4);
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 150px);
    height: 500px;
    width: 500px;
    cursor: pointer;
}

.orangutan, 
.otter {
    font-size: 90px;
}


h2 {
    font-size: 75px;
    color:rgb(218, 245, 12);
}

#errorMessage {
    padding-top: 50px;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}